header{
    text-align: center;
    font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
    margin: 0px;
    padding: 0px;
  }

body{
  padding: 0px;
  margin: 0px;
}

.wiki{
    font-size: 40px;
    margin-bottom: 0px;
}

.large{
    font-size: 60px;
}

ul{
    list-style-type: none;
}

.image{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 17%;  
}

.left-span{
    width: 500px;
    height: auto;
    position: absolute;
    left: 600px;
    top: 150px;
}

.right-span{
    width: 400px;
    height: auto;
    position: absolute;
    right: 400px;
    top: 150px;
}

.eng{
    position: absolute;
    top: 0px;
    left: 120px;
    
} 

.esp{
    position: absolute;
    top: 60px;
    left: 70px;
    padding-top: 10px;
}

.fra{
    position: absolute;
    top: 120px;
    left: 40px;
    padding-top: 20px;
}

.ita{
    position: absolute;
    top: 180px;
    left:70px;
    padding-top: 20px;
}

.por{
    position: absolute;
    top: 240px;
    left:120px;
    padding-top: 20px;
}

.jap{
    position: absolute;
    top: 0px;
    right: 290px;
}

.deu{
    position: absolute;
    top: 60px;
    right: 250px;
    padding-top: 20px;
}

.rus{
    position: absolute;
    top: 120px;
    right: 220px;
    padding-top: 20px;
}

.chi{
    position: absolute;
    top: 180px;
    right: 250px;
    padding-top: 20px;
}

.pol{
    position: absolute;
    top: 240px;
    right: 290px;
    padding-top: 20px;
}

.language{
    font-weight: bold;
    color: blue;
    text-align: center;
}

.sb-example-1 {
  position: absolute;
  bottom:430px;
  left: 780px;
  height: 45px;
  width: 452px;
  color: black;
}
.sb-example-1 .searchTerm {
  height: 40px;
  width: 80%;
  border: 1px solid gray;
  color: #9DBFAF;
  text-align: right;
  padding-right: 20px;
}
.sb-example-1 .searchTerm:focus{
  color: black;
    
}
.searchButton {
  position: absolute;
  width: 40px;
  height: 44px;
  border: 1px solid  grey;
  background: rgb(36, 83, 238);
  text-align: center;
}

.read-wiki{
  position: relative;
  display: block;
  bottom:500px;
  top: 120px;
  left: 850px;
  border: 1px solid  grey;
  width: 300px;
  height: 40px;
  text-align: center;
  background-color: rgb(233, 229, 229);
  color: rgb(73, 73, 221);
  font-size: small;
}

.wikimedia{
  width: 350px;
  height: 60px;
  position: absolute;
  bottom: 250px;
  left:150px;
}

.firefox{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.img-commons{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.commons{
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 250px;
  left:700px;
}

.img-wikivoyage{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.wikivoyage{
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 250px;
  right:630px;
}

.img-wiktionary{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.wiktionary{
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 250px;
  right:300px;
}

.img-wikibooks{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.wikibooks{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 800px;
  left:700px;
}

.img-wikinews{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.wikinews{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 800px;
  right:630px;
}

.img-wikidata{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 65px;
  top: 1px;
}

.wikidata{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 10px;
  right:-302px;
}

.img-wikiversity{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 300px;
  right: 125px;
  margin: 2px;
  top: 1px;
}

.wikiversity{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 110px;
  left:340px;
}

.img-wikiquote{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.wikiquote{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 110px;
  right:370px;
}

.img-mediawiki{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 55px;
  margin: 2px;
  top: 1px;
}

.mediawiki{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 0px;
  right:-350px;
}

.img-wikisource{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 300px;
  right: 125px;
  margin: 2px;
  top: 1px;
}

.wikisource{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 100px;
  left:720px;
}

.img-wikispecies{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 30px;
  margin: 2px;
  top: 1px;
}

.wikispecies{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 90px;
  right:0px;
}

.img-meta-wiki{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 2px;
  left: 55px;
  margin: 2px;
  top: 1px;
}

.meta-wiki{
  width: 200px;
  height: 60px;
  position: absolute;
  top: 10px;
  right:-350px;
}

.img-wiki{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30px;
}

.download{
  background-color: rgb(250, 245, 245);
  width: 500px;
  height: 200px;
  position: absolute;
  bottom: 20px;
  left: 140px;
}

.google-play{
  width: 150px;
  height: 140px;
  position: absolute;
  left: 70px;
  bottom: -30px;
}

.apple-store{
  width: 150px;
  height: 165px;
  position: absolute;
  left: 220px;
  bottom: -42px;
}

.title-download{
  color: blue;
  font-size: larger;
}

.highlight{
  color: blue;
}

footer{
    text-align: center;
    font-size: small;
    padding-top: 600px;
}

footer pre span{
    color: blue;
}
